@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.w-custom {
    width: 10rem;
}

.w-custom-icon {
    width: 7rem;
}

.h-custom-icon {
    height: 7rem;
}

.ml-custom {
    margin-left: 11rem;
}

.ml-custom-portfolio {
    margin-left: 20rem;
}

.mr-custom-portfolio {
    margin-right: 20rem;
}

.custom-bg {
    @apply bg-green-800; 
}

body {
    background-image: url("src/assets/img/background.jpg");
    background-repeat: no-repeat;
    margin-left: 11rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 5rem;
} 
